<div class="topMainBar navbar-fixed-top">
  <div class="col-xs-4">
    <button ng-click="chooseElement()" type="button" class="btn btn-default blue-button center-block">
      Add element
    </button>
  </div>
  <div class="col-xs-4">
    <button ng-click="save()" type="button" class="btn btn-default orange-button center-block">
      Save changes
    </button>
  </div>
  <div class="col-xs-4">
    <button ng-click="cancel()" type="button" class="btn btn-default red-button center-block">
      Cancel changes
    </button>
  </div>
</div>
