<form
  type="form"
  class="modalStyle"
  role="form"
  novalidate>

  <div class="modal-header">
    <h3 class="text-center modal-title">Add element</h3>
  </div>

  <!-- Modal body -->
  <div class="modal-body">
    <ul class="elementPickerList">
      <li ng-repeat="element in elements">
        <button type="button"
          ng-model="element.functionName"
          ng-click="pickElement(element.functionName)"
          class="btn orange-button">
          {{element.name}}
        </button>
      </li>
    </ul>
  </div>
  <!-- End of modal body -->

  <!-- Modal footer -->
  <div class="modal-footer">
    <div class="row">
      <div class="col-md-12">
        <button
          ng-click="cancel()"
          class="btn blue-button center-block">
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- End of modal footer -->

</form>
