.blue-button {
  background: #1E8BC3;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
  border-radius: 2px;
  color: #1C1C1B;
  text-transform: uppercase;
  font-weight: 100;
  border-radius: 0;
}

.red-button {
  background: #D64541;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
  border-radius: 2px;
  color: #1C1C1B;
  text-transform: uppercase;
  font-weight: 100;
  border-radius: 0;
}

.orange-button {
  background: #F39C12;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
  border-radius: 2px;
  color: #1C1C1B;
  text-transform: uppercase;
  font-weight: 100;
  border-radius: 0;
}

.red-round-button {
  background: #D64541;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
}

.blue-round-button {
  background: #1E8BC3;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  color: white;
}

.orange-round-button {
  background: #F39C12;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.20);
  border-radius: 20px;
  width: 40px;
  height: 40px;
  border: none;
  color: white;
}
