.loginTitle {
  h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
}

.loginError {

}

.loginForm {

}

.loginUsernameLabel {

}

.loginUsername {

}

.loginPasswordLabel {
  
}

.loginPassword {

}

.loginButton {

}

.loginRegisterLink {
  padding-top: 10px;
}
