.registerTitle {
  h1 {
    text-transform: uppercase;
    font-weight: 900;
  }
}

.registerError {

}

.registerForm {

}

.registerUsernameLabel {

}

.registerUsername {

}

.registerPasswordLabel {

}

.registerPassword {

}

.registerButton {

}

.registerLoginLink {
  padding-top: 10px;
}
