//Colors
$dark-gray: #1C1C1B;
$light-gray: #E6E7E9;
$gray: #D2D6DE;
$orange: #EC6A06;
$blue: #69AFEA;
$white: #FFFFFF;
$red: #D64541;

$footer-blue: #2574A9;
$turquise: #A2DED0; 

//Font
$font: 'Lato', sans-serif;

$blue-button-color: $blue;
$blue-button-background: $white;
$blue-button--border: $blue;

$orange-button-color: $orange;
$orange-button-background: $white;
$orange-button--border: $orange;

$red-button-color: $red;
$red-button-background: $white;
$red-button--border: $red;
