@import 'variables';
//@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);

html {
  height:100%;
  font-family: $font;
  overflow: hidden;
}

body {
  height: 100%;
  width: auto;
  font-family: $font;
  overflow: auto;
  padding-top: 60px;
  background: $light-gray;
}

@import 'buttons';
@import 'post';
@import 'special';
@import 'create';
@import 'login';
@import 'register';
@import 'modals';
@import 'posts';
@import 'dragdrop';
@import 'editor';
