.commentsTitle {
  background: #A2DED0;
  h2 {
    text-transform: uppercase;
    font-weight: 900;
    padding: 30px;
  }
}

.commentBox {
  padding: 20px 0 20px 0;
  .commentTextarea {
    background: #DADFE1;
  }
}
