.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
  background: #A2DED0;
}

.blog-title {
  text-transform: uppercase;
  font-weight: 900;
  padding: 30px;
}

.post-title {
  font-weight: 100;
}

.postContainer {
  padding: 10px;
}
