.mainPostTitle {
  margin-bottom: 2rem;
  text-align: center;
  word-wrap: break-word;
  background-color: #1E8BC3;
  color: #F7CA18;
  border-radius: 0;
  padding: 80px;
  margin: 0;
}

.blogText {
  margin-bottom: 2rem;
  text-align: center;
  word-wrap: break-word;
  background-color: #D24D57;
  color: #86E2D5;
  border-radius: 0;
  padding: 80px;
  margin: 0;
}
